In [80]:
from faker import Faker
import pandas as pd

In [81]:
df = pd.DataFrame(columns=['Navn', 'Adresse', 'PersonNr', 'CreditCard', 'ipv4'])
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 0 entries
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Navn        0 non-null      object
 1   Adresse     0 non-null      object
 2   PersonNr    0 non-null      object
 3   CreditCard  0 non-null      object
 4   ipv4        0 non-null      object
dtypes: object(5)
memory usage: 124.0+ bytes

In [82]:
f = Faker('no_NO')

In [83]:
# for i in range (100):
#     df.at[i, 'Navn'] = f.name()
#     df.at[i, 'Adresse'] = f.address()
#     df.at[i, 'PersonNr'] = f.ssn()
#     df.at[i, 'CreditCard'] = f.credit_card_number()
#     df.at[i, 'ipv4'] = f.ipv4()
# 
# df

In [84]:
for i in range(100):
    df.loc[i] = [f.name(), f.address(), f.ssn(), f.credit_card_number(), f.ipv4()]

df

,Navn,Adresse,PersonNr,CreditCard,ipv4
0,Hanna Aasen,"Eidefaret 86, 6899 Olsen",03078227957,675987460275,58.63.91.216
1,Petter Antonsen,"Fredriksenholtet 8, 7268 Tveit",14127503509,2713572448236416,39.165.117.232
2,Turid Strøm,"Eidefaret 21D, 4845 Johnsen",28110066416,36899161721611,170.77.67.242
3,Rune Gundersen,"Nielsengata 5, 3472 Jensen",05119511676,4292466164543510945,172.117.241.148
4,Gunn-Grethe Svendsen,"Rasmussenplassen 8A, 8533 Nguyen",08058037126,30335746327083,148.228.46.6
...,...,...,...,...,...
95,Hilde Nguyen,"Tangenvollen 5, 3930 Marifjord",12038526330,4421399886946737868,148.121.21.185
96,Håkon Evensen,"Larseneggen 3, 3189 Tveit",27044640207,180065429018885,170.82.250.140
97,Magne Halvorsen,"Aasengrenda 2C, 7922 Brekke",18070472976,346671252932042,37.169.136.17
98,Pål Hauge,"Jensenjordet 5B, 3394 Lailavik",18025020878,6577728618950782,5.222.1.234
99,Ida-Janne Ali,"Lieåsen 9C, 9481 Olsen",21109422336,3564839055349941,18.34.155.63

In [85]:
# df.drop(columns=['Navn', 'Adresse'])
# 
# df